.works {
	background-color: crimson;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.arrow {
		height: 3.3rem;
		position: absolute;

		@include mobile {
			display: none;
		}

		&.left {
			left: 6.2rem;
			transform: rotateY(180deg);
			cursor: pointer;
		}
		&.right {
			right: 6.2rem;
			cursor: pointer;
		}
	}

	.slider {
		height: 24rem;
		display: flex;
		position: absolute;
		left: 0;
		transition: all 1s ease-out;

		@include mobile {
			height: 100vh;
			flex-direction: column;
			justify-content: center;
		}

		.container {
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
			.item {
				width: 43rem;
				height: 100%;
				background-color: white;
				border-radius: 1.5rem;
				display: flex;
				align-items: center;
				justify-content: center;

				@include mobile {
					height: 120px;
					width: 90%;
					margin: 10px 0;
					justify-content: center;
				}

				.left {
					flex: 4;
					height: 90%;
					display: flex;
					align-items: center;
					justify-content: center;
					.leftContainer {
						width: 90%;
						height: 70%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						@include mobile {
							width: 100%;
							height: 100%;
							padding-left: 15px;
						}
						.imgContainer {
							width: 2.2rem;
							height: 2.2rem;
							border-radius: 50%;
							background-color: rgb(238, 188, 170);
							display: flex;
							align-items: center;
							justify-content: center;

							@include mobile {
								width: 1.2rem;
								height: 1.2rem;
							}

							img {
								width: 1.7rem;
								@include mobile {
									width: 0.9rem;
								}
							}
						}
						h2 {
							font-size: 1.2rem;
							@include mobile {
								font-size: 0.8rem;
							}
						}
						p {
							font-size: 0.8rem;
							@include mobile {
								display: none;
							}
						}

						.site-links {
							display: flex;
							flex-direction: column;
							a {
								span {
									font-size: 0.7rem;
									font-weight: 700;
									text-decoration: underline;
									cursor: pointer;
								}
							}
						}
					}
				}
				.right {
					flex: 8;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					img {
						width: 25rem;
						object-fit: contain;
						transform: rotate(-10deg);
					}
				}
			}
		}
	}
}
